.BtnNav{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    top: 0;
    margin-top: 0;
    border-radius: 4px;
   
}
.btnAddAdmin{ 
    display: flex;
    margin-left: 1116px;
    margin-top: 10px;
}
.loading{
    color: black;
}

.error{
    color: black;
}

/* Estilos para los botones de eliminar y modificar */

/* Botón de eliminar */
.btnEliminar {
    background-color: #ff6347; /* Color de fondo rojo */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    padding: 1px 1px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor a una mano */
    /* Espaciado a la derecha (ajusta según tus necesidades) */
  }
  
  /* Estilo al pasar el mouse sobre el botón de eliminar */
  .btnEliminar:hover {
    background-color: #ff4136; /* Cambia el color de fondo al pasar el mouse */
  }
  

  /* Botón de modificar */
  .btnModificar {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    padding: 1px 1px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor a una mano */
  }
  
  /* Estilo al pasar el mouse sobre el botón de modificar */
  .btnModificar:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
  }
  

  /* Estilos para el botón "Cancelar" */
.btnCancelar {
    background-color: #e74c3c; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno (arriba/abajo y izquierda/derecha) */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambio de cursor al pasar el mouse */
    margin-right: 10px; /* Margen derecho para separarlo del botón "Guardar" */
  }
  
  /* Estilo al pasar el mouse sobre el botón "Cancelar" */
  .btnCancelar:hover {
    background-color: #c0392b; /* Cambio de color de fondo al pasar el mouse */
  }
  
  .btnAgregarDesdeAdmin{
    background-color: #007bff;
    border-radius: 5px;
    color: white;
  }


  /* Estilo de botón básico */
/* .btnRegistrarAdmin {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* Cambiar el color de fondo en el hover */
/* .btnRegistrarAdmin:hover {
  background-color: #0056b3;
} */

/* Estilo para cuando se presiona el botón */
/* .btnRegistrarAdmin:active {
  background-color: #003c80;
} */

/* Estilo para cuando el botón está deshabilitado */
/* .btnRegistrarAdmin[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
} */

/* Estilo para el texto dentro del botón */
/* .btnRegistrarAdmin span {
  font-weight: bold;
} */
