.registro {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .registro h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .registro form {
    display: flex;
    flex-direction: column;
  }
  
  .registro label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .registro input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .registro button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .registro button:hover {
    background-color: #0056b3;
  }
  

  /* Estilos CSS para los combobox */
.select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s;
}

/* Estilos CSS para las etiquetas de los combobox */
.label {
  margin-bottom: 8px;
  font-weight: bold;
}
