/* .container{
    display:flex;
    position: fixed;
    z-index: 10;
}
.sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
 */

 .container {
    display: grid;
    grid-template-columns: 220px 1fr; /* Dos columnas: 220px para el sidebar y el resto para el contenido */
    grid-gap: 20px; /* Espacio entre las dos columnas */
    height: 100vh; /* Ajusta la altura como necesites */
    position: fixed;
    z-index: 10;
}

.sidebar {
    background: #000;
    color: #fff;
    height: 100%; /* El sidebar ocupa toda la altura */
    width: 220px; /* Ancho fijo del sidebar */
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none; /* Evitar subrayado en enlaces */
}

.link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
}

.active {
    background: lightskyblue;
    color: #000;
}

.icon, .link_text {
    font-size: 20px;
}

/* Estilo para el contenido principal */
main {
    padding: 20px;
}
