.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination li:hover {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

/* Estilos para el cuadro de confirmación */
.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.confirmation-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.btn-confirm {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn-yes {
  background-color: red;
  color: white;
}

.btn-no {
  background-color: blue;
  color: white;
}

@media (max-width: 768px) {
  .Div-Table {
    overflow-x: scroll; 
  }
}

/* Estilos para el encabezado */
.Namelist {
  text-align: center;
}

/* Estilos para el contenedor principal */
.user-registration {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para los mensajes emergentes (toast) */
.Toastify__toast {
  background-color: #333;
  color: #fff;
}

/* ------------------------- */

/* Estilos para la tabla */
.TableReservaciones {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.TableReservaciones th,
.TableReservaciones td {
  border: 1px solid #ccc;
  padding: 1px;
  text-align: center;
}

.TableReservaciones th {
  background-color: #f2f2f2;
}

.TableReservaciones tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination li:hover {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

/* Estilos para el cuadro de confirmación */
.confirmar-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.confirmar-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.btn-confirm {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn-yes {
  background-color: red;
  color: white;
}

.btn-no {
  background-color: blue;
  color: white;
}

/* Estilos para los botones de acción */


/* Estilos para el encabezado */
.Namelist {
  text-align: center;
}

/* Estilos para el contenedor principal */
.user-reservations {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para los mensajes emergentes (toast) */
.Toastify__toast {
  background-color: #333;
  color: #fff;
}



/* ---------------------------- */

/* Estilos para la tabla de Registro de Tipos */
/* .TableTipo {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.TableTipo th, .TableTipo td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.TableTipo th {
  background-color: #f2f2f2;
  font-weight: bold;
} */

/* Estilos para los botones de acción */



/* Estilos para el encabezado */
.Namelist {
  text-align: center;
}

/* Estilos para el contenedor principal */
.type-registration {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para los mensajes emergentes (toast) */
.Toastify__toast {
  background-color: #333;
  color: #fff;
}

/* --------------------------- */

/* Estilos para la tabla de Registro de Campañas */
.TableCampaña {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.TableCampaña th, .TableCampaña td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.TableCampaña th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Estilos para los botones de acción */



/* Estilos para el encabezado */
.Namelist {
  text-align: center;
}

/* Estilos para el contenedor principal */
.campaign-registration {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para los mensajes emergentes (toast) */
.Toastify__toast {
  background-color: #333;
  color: #fff;
}

/* -------- */
/* Estilos para la tabla */
.TableUsuarios {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding-top: 20px;
  
}

.TableUsuarios th,
.TableUsuarios td {
  border: 1px solid #ccc;
  padding: 1px;
  text-align: center;
  
}

.TableUsuarios th {
  background-color: #f2f2f2;
  
}

.TableUsuarios tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination li:hover {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

/* Estilos para el cuadro de confirmación */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-confirm {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.delete-confirm p {
  margin: 0 0 10px;
}

.delete-confirm button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.delete-confirm button:hover {
  background-color: #0056b3;
}


/* ---Eliminar si es necesario */
/* Estilos para la tabla */
.TableTipo {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.TableTipo th,
.TableTipo td {
  border: 1px solid #ccc;
  padding: 1px;
  text-align: center;
}

.TableTipo th {
  background-color: #f2f2f2;
}

.TableTipo tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination li:hover {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

/* Estilos para el cuadro de confirmación */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-confirm {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.delete-confirm p {
  margin: 0 0 10px;
}

.delete-confirm button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.delete-confirm button:hover {
  background-color: #0056b3;
}
  /* Estilos para la tabla */
  .TableVOluntariado {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .TableVOluntariado th,
  .TableVOluntariado td {
    border: 1px solid #ccc;
    padding: 1px;
    text-align: center;
  }

  .TableVOluntariado th {
    background-color: #f2f2f2;
  }

  .TableVOluntariado tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Estilos para la paginación */
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }

  .pagination li {
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  .pagination li.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }

  .pagination li:hover {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }

  /* Estilos para el cuadro de confirmación */
  .confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .confirmation-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .btn-confirm {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }

  .btn-yes {
    background-color: red;
    color: white;
  }

  .btn-no {
    background-color: blue;
    color: white;
  }